

h1 {
	position: relative;
	top: 20px;
	left: 10px;
	z-index: 1;
}

:root {
	--cell-size: 20px;
    --base-color: green;
}
.cell {
    height: var(--cell-size);
    width: var(--cell-size);
	border: 1px solid black;
    font-weight: bold;
}

.cell[data-turned='true'] {
    background-color: var(--base-color);
}
.cell[data-value='0'] {
    color: var(--base-color);
}
.cell[data-value='1'] {
    color: blue;
}
.cell[data-value='2'] {
    color: violet;
}
.cell[data-value='3'] {
    color: red;
}
.cell[data-value='4'] {
    color: brown;
}
.cell[data-value='5'] {
    color: teal;
}
.cell[data-value='6'] {
    color: black;
}
.cell[data-value='7'] {
    color: grey;
}
.flag {
    background: url(../images/flag.png);
}


#game {
    display: grid;
    grid-gap: 0.1em;
    margin: 10px;
	width: calc(var(--cell-size) * 8 );
}

#main {
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-content: center;
}
